<div>
  <button mat-stroked-button color="primary" style="float: right" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="ofForm" (ngSubmit)="createOnBoardingFee()">
  <mat-form-field style="width: 100%" hidden>
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" formControlName="id" required>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description" formControlName="description" required>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-label>Amount</mat-label>
    <input matInput placeholder="Amount" formControlName="amount" required>
  </mat-form-field>

  <button mat-raised-button color="primary">Save</button>
</form>
